<div>
  <h3><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h2>投稿一覧</h2>
<% @comics.each do |comic| %>
<div>
  <p>タイトル：<%= comic.title %></p>
  <%= attachment_image_tag comic, :image %>
  <p>投稿ユーザー画像：<%= attachment_image_tag comic.user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg" %></p>
  <p>ユーザーネーム：<%= comic.user.name %></p>
  <p>投稿日：<%= comic.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= link_to "#{comic.comments.count} コメント", comic_path(comic.id) %></p>
</div>
<% end %>
<%= paginate @comics %>
