<div>
  <p>タイトル：<%= @comic.title %></p>
  <%= attachment_image_tag @comic, :image %>
  <p>投稿ユーザー画像：</p>
  <p>ユーザーネーム：<%= @comic.user.name %></p>
  <p>投稿日：<%= @comic.created_at.strftime('%Y/%m/%d') %></p>
  <% if @comic.user == current_user %>
    <%= link_to "削除", comic_path(@comic.id), method: :delete %>
  <% end %>
</div>

<div>
<p>コメント件数：<%= @comic.comments.count %></p>
<% @comic.comments.each do |comment| %>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.user == current_user %>
  <div>
    <%= link_to "削除", comic_comment_path(comment.comic, comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>

<div>
<%= form_with(model:[@comic, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

<% if @comic.favorited_by?(current_user) %>
    <p>
      <%= link_to comic_favorites_path(@comic), method: :delete do %>
        ♥<%= @comic.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to comic_favorites_path(@comic), method: :post do %>
        ♡<%= @comic.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>